import { twCx } from "../utils/twCx";
export interface Input {
    href: string;
    content: Marko.Body;
}
<const/{ href }=input>

<a
    href=href
    class=twCx(
        "transition-text p-2 text-xl uppercase opacity-70 duration-100 ease-in-out hover:opacity-100",
        {
            "border-b-2 border-b-white opacity-100":
                href === $global.url.pathname,
        },
    )>
    <${input.content}/>
</a>
