import { getMovies, getTrendingMovie } from "../../../../services/tmdb";
import { getListItem } from "../../../../utils/format";
import * as v from "valibot";
import { getNameValidation } from "../../../../utils/validation";
<const/parseResult=v.parse(
  v.object({ name: getNameValidation() }),
  $global.params,
)>
<const/name=parseResult.name>
<const/movies=(
  name === "trending"
    ? getTrendingMovie({ context: $global.tmdb, page: 1 })
    : getMovies({ context: $global.tmdb, page: 1, query: name })
)>

<await|data|=movies>
  <loader
    initialCollection=data
    name=getListItem({ query: parseResult.name, type: "movie" })
    categoryName=name/>
</await>
