import { buildPath } from "../../../utils/paths";
export interface Input {
  content: Marko.Body;
}

<div class="flex max-h-screen flex-col gap-4 overflow-y-scroll">
  <movie-hero media=$global.movie/>

  <const/movieId=(($global.params as any).movieId)>

  <div class="flex flex-row items-center justify-center gap-4">
    <styled-link href=buildPath("/movie/$movieId", { movieId })>
      Overview
    </styled-link>
    <styled-link href=buildPath("/movie/$movieId/videos", { movieId })>
      Videos
    </styled-link>
    <styled-link href=buildPath("/movie/$movieId/photos", { movieId })>
      Photos
    </styled-link>
  </div>
  <${input.content}/>
  <page-footer/>
</div>
