import { getTvShow } from "../../../services/tmdb";
import { number, coerce, minValue, integer, parse, object } from "valibot";

<div class="flex max-h-screen flex-col overflow-y-scroll">
  <tv-hero media=$global.tvShow/>
  <media-info-card media=$global.tvShow/>
  <person-carousel collection=($global.tvShow?.credits?.cast || []) title="Cast"/>
  <page-footer/>
</div>


