import { getMovie } from "../../../../services/tmdb";
import { number, coerce, minValue, integer, parse, object } from "valibot";

<if($global.movie)>
  <await($global.movie)>
    <@then|movie|>
      <div class="flex flex-col">
        <media-info-card media=movie/>
        <person-carousel collection=(movie.credits?.cast || []) title="Cast"/>
      </div>
    </@then>
  </await>
</if>