import type { MediaBase } from "../services/types";
export interface Input {
  collection: MediaBase[];
}

<section class="grid grid-cols-[repeat(auto-fill,minmax(12rem,1fr))] gap-4 p-8">
  <for|media| of=input.collection>
    <media-card media=media/>
  </for>
</section>
